# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
